#!/bin/zsh
# Configure which endpoint_url to relocate: here localstack
# export AWS_ENDPOINT_URL="http://localhost:4566"

# Use the "aws" command automatically with the right arguments
export PATH="$HOME/DEV/aws-shim:$PATH"
echo "✅ AWS command using the localstack endpoint url from 'aws-shim'"
