#!/usr/bin/env bash

# Configure which endpoint_url to relocate: here localstack

# Use the "aws" command automatically with the right arguments
export PATH="$HOME/DEV/aws-shim:$PATH"
SHIM_PATH=$(which aws)
echo "
[ AWS CLI ]
    • AWS ('aws-shim') is pointing at the cloud emulator.
    |___ AWS CLI location: $SHIM_PATH
"
