#!/usr/bin/env bash
source ./dev/utils.sh

mode="$1"

# Switch aws command usage ( regular -> original aws | local -> aws-shim )
# Regular mode will connsume aws - where you can be charged
# Local mode will consume the aws shim using LocalStack ( cloud emulator ): a free version
#
# Note: local mode can be used in this project until the introduction to cloudfront
# - great to practice commands
#
#
# Good to knows:
# - This is setup on running the project [ bun dev | bun dev:local ]
# - If a new terminal session is open - by default aws command will be the original
# - If a new terminal session with localstatck - `source ./dev/.envrc local` must be executed
switch_aws(){
    local mode="$1"
    local command_path
    if [ "$mode" = "regular" ]; then
        command_path="${PATH//:$HOME\/DEV\/aws-shim/}"
        command_path="${PATH//$HOME\/DEV\/aws-shim:/}"
    elif [ "$mode" = "local" ]; then
        command_path="$HOME/DEV/aws-shim:$PATH"
    else
        log "Usage: switch_aws [regular|local]"
    fi

    export PATH="$command_path:$PATH"
    echo "
    [ AWS CLI ]
        • AWS command is pointing at:
        |___ $(which aws)
    "
}


switch_aws "$mode"
